In [123]:
import requests
import pandas as pd

# Configurar pandas para mostrar todas las filas y columnas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

response = requests.get("https://pokeapi.co/api/v2/pokemon/1")
print(response)

<Response [200]>

In [124]:
data = response.json()
data.keys()
# data['types'][0]['type']['name']

dict_keys(['abilities', 'base_experience', 'forms', 'game_indices', 'height', 'held_items', 'id', 'is_default', 'location_area_encounters', 'moves', 'name', 'order', 'past_types', 'species', 'sprites', 'stats', 'types', 'weight'])

In [144]:

values = {'id':data['id'], 
          'name':data['name'], 
          'height':data['height'], 
          'weight':data['weight'], 
          'main_type':data['types'][0]['type']['name']}

df = pd.DataFrame(data=values, index=[0])

df

   id       name  height  weight main_type
0   1  bulbasaur       7      69     grass